/* Web View= normal
Switch to Tablet View at 1200px width
Switch to Mobile View at 575px */


*{
    font-family: 'Red Hat Mono', monospace;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #030303
    url('https://media4.giphy.com/media/VseXvvxwowwCc/giphy.gif?cid=ecf05e47o62i8jgbcfc3rftja1wj8jpu41jdcrsjem6bna08&rid=giphy.gif&ct=g') no-repeat center ;
    z-index: 99999;

}

:root {
    --Tertiary: #0E0E0E;
    --Primary: #1F1F1F;
    --Secondary: #53FDAE;
    --Text: #fff;
    --pageone: none;
    --sideBarButton: none;
    --pageone: flex;
  }
  
  
body{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
    color: var(--Text);
    background-color: var(--Tertiary);
    display:flex;
    flex-direction:column;
    max-width: 1519.2px !important;
    overflow-x: hidden;
    overflow-anchor: none;
}

button{
    font-size: 1.5rem;
    color: var(--Text);
    background-color: var(--Secondary);
    border: none;
    padding: 1rem 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.mainContainer{
    height: auto; 
    width: auto;
    margin: 0 auto; 
    padding: 0;
    justify-content: center;
    display: flex;
    flex-direction: column;}

.navBar{
    background-color: var(--Primary);
    display: flex;
    flex-direction: row;
    overflow: auto;
    max-height: 85px;
    width: 100vw;
    justify-content: space-between;
    border-bottom: 2px solid var(--Tertiary);
    position: sticky;
    top: 0%;
}

.navLogo{
    align-items: flex-end;
    margin-right: 4vw;
    border: none;
    padding-top: 4px;
    text-align: center;
    display: inline-block;
    margin-left: 3em;
}

.navLogo>h3{
    margin-top: 0.5rem;
}

.navButtons{
    align-items: center;
    margin-right: 50px;
    border: none;
    padding-top: 4px;
    justify-content: center;
    display:flex;
    padding: 0 2px 0 2px;

}


.topButton{
    font-size: 1.5rem;
    background-color: var(--Primary);
    border-radius: 0px;
    border-bottom: 5px solid var(--Primary);
    justify-content: center;
    text-decoration: none;
    align-items: stretch;

}

#Btn{
    margin: auto;
    align-items: stretch;
}

.topButton:hover{
    color: var(--Secondary)}

.topButton:active{
    border-color:var(--Secondary);
}


.Options{
    display: var(--sideBarButton);
}

.container{
    padding-top: 4vw;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

/***** Page One *****/

.header{
    display: flex;
    font-size: 2rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white; 
    padding-top: 10rem;
    padding-bottom: 5rem;
    background-color: var(--Tertiary) ;
    width: 68%;
    text-align: center;
    
}

.heading{
    font-size: 3rem;
}
.header>.heading{
    font-size: 3rem;   
    text-transform: capitalize;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid black;
    width: 30ch;
    color:rgb(255, 255, 255);
    animation: typist 10s steps(33) infinite, blink step-end 1s infinite;
}
@keyframes typist{
    0%{width: 0ch;}
    47%{width: 34ch;}
    70%{width: 34ch;}
    75%{width: 0ch;}
    100%{ width: 0ch;}
  }
  @keyframes blink{
    from, to{border-color: transparent;}
    50%{border-color: black;}
  }
  
.highlight{
    color: var(--Secondary);
}

.subHeading{
    font-size: 1rem;
    color: #A0A0A0;
    width: 40%;
    margin-top: 1rem;
}

.vl {
    border-left: 1px solid #a1a1a1;
    height: 15rem;
    left: 50%;
    margin-left: -3px;
    top: 0;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

/* Inputting Section */



.form{
    display: flex;
    width: 100%;
    height: max-content;
    flex-direction: column;
    height: fit-content;
    padding-top: 3rem;
    padding-bottom: 5rem;
    background-color: var(--Primary);
    overflow: hidden;
}

.SkimForm{
    font-size: 2.5rem;
    padding: 1rem 0rem 2rem 5rem;
}

.inputArea{
    padding-left: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex: auto;
}

.textbox{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    margin-right: 0%;
    align-items: center;
}

textarea{
    padding: 10px 15px;
    background-color: white; 
    border-radius: 5px;
    color: #1F1F1F;
}

.textbt{
    cursor: pointer;
    font-size: 1rem;
    color: var(--Tertiary);
    background-color: var(--Secondary);
    border: none;
    padding: 1rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    width: 100%;
}

.separator{
    width: 3rem;
}

.uploadpart{
    padding-right: 5rem;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
}

.uploadpart>h2{
    color: var(--Primary);
    padding: 1rem;
}

.or{
    color: #a0a0a0;
}

label {
    cursor: pointer;
    font-size: 1rem;
    color: var(--Tertiary);
    background-color: var(--Secondary);
    border: none;
    padding: 2rem 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    width: 80%;

}
 
 #upload-file {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }

.aboutusstory{
     padding-top: 1rem;
     display:flex;
     flex-direction:row
}
.aboutusstory>p{
    color: aliceblue; 
    margin-top: 0.5rem;
    margin-left: 30%;
}

.aboutusstory>span{
    color: #53fdae;
}

.about-heading {
    display:flex

}

.about-head{
    font-size: 2rem;
    flex-grow: 1;
    justify-content: center;
}


.about-text{
    justify-content: right;
}

 .story{
    height: 30vh;
    width: 100%;
    margin-left: 5rem;
     margin-top: 3rem;
}


****** ABOUTUS ***********/

.teamname{
    margin-left: 35vw;
    margin-top: 1rem;
    font-size: xx-large;
}

.teammembers{
    color: #000000;
    margin-top: 8rem;
    display: flex;
    overflow: hidden;
    justify-content: space-around;
}
.teammembers>.profile img{
    width: inherit;
    height: 30vh;
    margin:auto;
}
.profile{
   
    width: 18vw;
    text-align: center;
    width: fit-content;
    background-color: var(--Secondary);
}
.profile>h2{
    margin:auto;
    margin-top: 1.5rem;

}
.profile>p{
    padding: 0 0.5rem 0 0.5rem;
    margin:auto;
    margin-top: 1rem;
    align-items: center;
    padding-bottom: 1rem;
}
.profile>a{
    margin-top: 4rem;
}

/***** Page Two *****/
.sucess{
    font-size: 2.5rem;
    padding-top: 10vh;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
.sucess>h1{
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
    margin-bottom: 1rem;
}
.sucess>hr{
    max-width: 400px;
    border: none;
    height: 1px;
    width: 20rem;
    background-color: white;
}

/* OUTPUT */
.content{
    margin-left: 5rem;
    max-width: 80vw;
}

.OutputHeader{
    color: var(--Secondary);
    font-size: 1.5rem;
}
.Output{
    font-size: 1rem;
    color: #A0A0A0;
    margin-bottom: 3vw;

}
.content2{
    margin-left: 5rem;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 2rem;
}

.content2>.OutputHeader{
    color: var(--Secondary);
    font-size: 1.5rem;
}
.content2>.Output{
    font-size: 1rem;
    color: #000000;
    margin-bottom: 3vw;

}

/** Footer ***/
footer{
    padding: 5px 28px;
    position: bottom;
    border: var(--Primary);
    margin-top:0.5rem;
    border-top: 3 var(--Primary);
    position: bottom;
    bottom: 0%;
    width: 70%;
    height: 3rem;
    align-self: center ;
}
.bottomText{
    display: flex;
    padding: 0px 28px;
    justify-content: center;
    align-content: space-between;
    text-align: center;
}

.copyright{
    align-content: space-between;
}
.links{
    color: var(--Text);
    display: inline-block;
    text-decoration: none;
    text-emphasis: none;
    align-items: flex-end;
}

a{
    color: var(--Text);
    padding: 0px 1vw;
}

/** GETPDF ***/
