<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutUs</title>
    <link rel="stylesheet" href="static/cs/style_result.css">
    <script src="https://kit.fontawesome.com/996f78b0c3.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="navBar">
        <div class="navLogo">
            <form method="get" action="/">
            <button type="submit" class="topButton" id="Skimmy" >&lt;/Skimmy&gt;</button>
            </form>
            <!-- <text id="_Skimmy_" data-name="&lt;/Skimmy&gt;" class="cls-1" transform="translate(0 41)"><tspan x="0" y="0">&lt;/Skimmy&gt;</tspan></text> -->
        </div>
        <div class="navButtons">
            <button type="submit" class="topButton" id="Home" >Home</button>
        </div>            
            <button class="Options"> sidebar</button>
     </div>

     <div class="teamname">
         <h1>Team SKIMMY</h1>
     </div>

     <div class="teammembers">
         <div class="profile">
             <img src="https://media-exp1.licdn.com/dms/image/C4D03AQH_znpshCzkNg/profile-displayphoto-shrink_800_800/0/1610212316778?e=2147483647&v=beta&t=cghZPx2pYMNFCccANj1Ji1LUKnEUiH15B_UpJeiTSao" alt="Akshit Sehgal">
             <h2>Akshit Sehgal</h2>
             <p style="margin-left: 0.5rem;"">Machine-Learning Enthusiast</p>
            
         </div>

         <div class="profile">
            <img src="https://media-exp1.licdn.com/dms/image/C4E03AQH5Ywpuxo1xYg/profile-displayphoto-shrink_800_800/0/1644730090805?e=2147483647&v=beta&t=DQiTRBz6b_sw4_7d9FBd77SBGKc_HIv0mxahiR38lZk" alt="Kshitij Saxena">
            <h2>Kshitij Saxena</h2>
            <p style="margin-left: 4rem;">UI/UX Designer</p>
            
            
        </div>
        
        <div class="profile">
            <img src="https://media-exp1.licdn.com/dms/image/C5603AQGY0o5fDJib-g/profile-displayphoto-shrink_400_400/0/1622391281790?e=2147483647&v=beta&t=tgazikyKV0q4EWyyNliLN7QNuVnpaOf1IVpDhsVDwVk" alt="Anuj Jha">
            <h2 style="margin-left: 5rem;">Anuj Jha</h2>
            <p style="margin-left: 4.5rem;">Web-Developer </p>
            
        </div>
     </div>
        
     <footer class="bottomText" style="margin-top: 9rem;">
        <div class="copyright">
            @2022 Team Skimmy
        </div>
        <div class="links">
                <a href="">Privacy Note</a>
                <a href="">Become Our Patreon</a>
                <a href="">Contact Us</a>
        </div>
    </footer>


    
</body>
</html>