<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutUs</title>
    <link rel="stylesheet" href="static/cs/style_result.css">
    <script src="https://kit.fontawesome.com/996f78b0c3.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
</head>
<body style="max-width: 100vw;">
    <div class="navBar">
        <div class="navLogo">
            <form method="get" action="/">
            <button type="submit" class="topButton" id="Skimmy" >&lt;/Skimmy&gt;</button>
            </form>
            <!-- <text id="_Skimmy_" data-name="&lt;/Skimmy&gt;" class="cls-1" transform="translate(0 41)"><tspan x="0" y="0">&lt;/Skimmy&gt;</tspan></text> -->
        </div>
        <div class="navButtons">
            <a class="topButton" id="Home" href="/">Home</a>
            <a class="topButton" id="About" href="/aboutus">About Us</a>
            
        </div>            
            <button class="Options"> sidebar</button>
        </div>

     <div class="teamname" style="display: flex; margin:auto">
         <h1 style="justify-content:center">Team SKIMMY</h1>
     </div>

     <div class="teammembers">
         <div class="profile">
             <img src="https://lh4.googleusercontent.com/T28hE3ikBJ4x7LYc-JhcG-7gBeVHokpQ5AVQY8s3FmiW21JZQhGds7vEsTM655iI-it6V1c4WEJD2TUfaJZk=w1920-h952-rw" alt="Akshit Sehgal">
             <h2>Akshit Sehgal</h2>
             <p>Machine-Learning Developer</p>
            
         </div>

         <div class="profile">
            <img src="https://media-exp1.licdn.com/dms/image/C4E03AQH5Ywpuxo1xYg/profile-displayphoto-shrink_800_800/0/1644730090805?e=2147483647&v=beta&t=DQiTRBz6b_sw4_7d9FBd77SBGKc_HIv0mxahiR38lZk" alt="Kshitij Saxena">
            <h2>Kshitij Saxena</h2>
            <p>UI/UX Designer</p>
            
            
        </div>
        
        <div class="profile">
            <img src="https://media-exp1.licdn.com/dms/image/C5603AQGY0o5fDJib-g/profile-displayphoto-shrink_400_400/0/1622391281790?e=2147483647&v=beta&t=tgazikyKV0q4EWyyNliLN7QNuVnpaOf1IVpDhsVDwVk" alt="Anuj Jha">
            <h2>Anuj Jha</h2>
            <p>Web-Developer </p>
            
        </div>
     </div>
     <div id="aboutusstory" class="about" style="display: flex; margin-top:2rem">
        <div class="about-heading">
        <div class="about-head">
        
            <div class="abouttext" >
                    <h2 style="margin-left: 35vh;">The Story Behind <span style="color: #53fdae;">Skimmy.</span></h2>
                   
                </div>
        
                <div class="story" style="font-size: 1.5rem; max-width:80%; justify-content:center">
                    <p >As the <span style=" background-color:black; color: #53fdae;">COVID-19 Virus </span> took over our livelihood,all across the globe research and studies had to focus on getting the best results in order to combat this situation. Amidst this chaos,large amounts of resources were being spent and of course ,<span style=" background-color:black; color: #53fdae;"> time was of the essence.</span> This valuable time was getting spent of reading through multi-paged articles only to find it is not related to the field of research needed!</p>
                    <br>
                    <p >To combat this situation ,<span style=" background-color:black; color: #53fdae;">Skimmy</span> was created by our team members.It allows researchers and students to 'Skim' long abstratcs into <span style=" background-color:black; color: #53fdae;">shorter targeted categories </span> aid the process.</p>
                </div>
    </div></div></div>
     <footer class="bottomText" style="margin-top: 9rem;">
        <div class="copyright">
            @2022 Team Skimmy
        </div>
        <div class="links">
                <a href="">Privacy Note</a>
                <a href="">Become Our Patreon</a>
                <a href="">Contact Us</a>
        </div>
    </footer>


    
</body>
</html>