<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skimmy</title>
    <link rel="stylesheet" href="static/cs/style_result.css">
    <script src="https://kit.fontawesome.com/996f78b0c3.js" crossorigin="anonymous"></script>
</head>
<body style="min-height: 2862px">
    <div class="mainContainer">
<!-- NavBar -->
        <div class="navBar">
            <div class="navLogo">
                <form method="get" action="/">
                <button type="submit" class="topButton" id="Skimmy" >&lt;/Skimmy&gt;</button>
                </form>
                <!-- <text id="_Skimmy_" data-name="&lt;/Skimmy&gt;" class="cls-1" transform="translate(0 41)"><tspan x="0" y="0">&lt;/Skimmy&gt;</tspan></text> -->
            </div>
            <div class="navButtons">
                <form method="get" action="/">
                    <button type="submit" class="topButton" id="Home" >Home</button>
                </form>
                <form method="get" action="/aboutus">
                    <button type="submit" class="topButton" id="About" >About Us</button>
                </form>
                
            </div>            
                <button class="Options"> sidebar</button>
            </div>
<!-- Actual Body of the Page -->
        <div class="container">

                                <!-- Page One-->

            <div class="header" id="pageOne">
                <h2 class="heading">No Text Is Ever <span class="highlight">Too Complicated</span></h2>
                <h2> With Skimmy</h2>
                <h3 class="subHeading">A New Approach To Reading  Research Abstracts.</h3>
                <div class="vl"></div>
            </div>

            <div class="form" id="pageOne">
                <div class="SkimForm"><h2>Let's Get Skimming.</h2></div>
                <br>
                <div class="inputArea">
                    <div class="textbox">
                        <form action="{{ url_for('load_page') }}"  method="POST">
                            <textarea name="paragraph_text" cols="60" rows="30" placeholder="Kindly Type Your Text Here.." ></textarea>  
                            <br>
                            <button class="textbt">Skim it !</button>
                        </form>
                    </div>
                
                    <div class="separator"> 
                    </div> 

                    <div class="uploadpart">
                        <div class="or"><h2>-OR-</h2></div>
                        <form action = "/submit2" method="post" enctype="multipart/form-data">
                            <label for="upload-file">Upload File from Device</label>
                            <input type="file" name="myfile" id="upload-file" onchange="this.form.submit()"/>
                            <br>
                        </form>
                        <div><h2> Upload PDF or txt Files! </h2> </div>
                    </div>
                </div>
            </div>
            <div class="story" id="pageOne">
            </div>
            <div id="aboutus" class="about">
                <div class="abouttext" >
                    <p >The Story Behind </p>
                    <p >Skimmy.</p>
                </div>
        
                <div class="story">
                    <p >As the <span style=" background-color:black; color: #53fdae;">COVID-19 Virus </span> took over our livelihood,all across the globe research and studies had to focus on getting the best results in order to combat this situation. Amidst this chaos,large amounts of resources were being spent and of course ,<span style=" background-color:black; color: #53fdae;"> time was of the essence.</span> This valuable time was getting spent of reading through multi-paged articles only to find it is not related to the field of research needed!</p>
                    <br>
                    <p >To combat this situation ,<span style=" background-color:black; color: #53fdae;">Skimmy</span> was created by our team members.It allows researchers and students to 'Skim' long abstratcs into <span style=" background-color:black; color: #53fdae;">shorter targeted categories </span> aid the process.</p>
                </div>
            </div>
        </div>
<!-- Bottom Text of Page -->
        <footer class="bottomText">
            <div class="copyright">
                @2022 Team Skimmy
            </div>
            <div class="links">
                    <a href="">Privacy Note</a>
                    <a href="">Become Our Patreon</a>
                    <a href="">Contact Us</a>
            </div>
        </footer>
    </div>   
</body>
</html>