<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/cs/style_result.css">
    <title>Document</title>
    <script>
        function navigate() {
          window.location.href = 'done';  // redirect when done!
        }
        fetch('submit').then(navigate); // load the slow url then navigate
      </script>
</head>
<body>
    <div id="loading"></div>
    
</body>
</html>
