<!DOCTYPE html>
<html lang="en">
<head>
  <script>
    function navigate() {
      window.location.href = 'done';  // redirect when done!
    }
    fetch('submit').then(navigate); // load the slow url then navigate
  </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/cs/style_result.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div id="loading">
      <!-- <img src="static/assets/kaalu.gif" style="margin:auto" /> -->
    </div>
    
</body>
</html>